---
layout: _layouts/home.njk
---

<div class="post">
  <h1 class="post-title">About</h1>
  <div class="post-content">
    <p>
      I am a family man, and a versatile technology enthusiast.

      <ul>
        <li><a href="https://github.com/iamhm">Github</a></li>
        <li><a href="https://www.linkedin.com/in/harishmathanan">Linkedin</a></li>
      </ul>
    </p>
  </div>
</div>
